body {
  background: #d65dac;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cap {
  width: 189px;
  height: 104px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.castle {
  display: inline-block;
  width: 100px;
  height: 20px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 0 20px 20px 0;
  position: absolute;
  bottom: 0;
  left: 10px;
}
.castle p {
  font: bold 12px Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  margin: 0 0 0 8px;
  letter-spacing: 5px;
}
.castle .circle {
  display: inline-block;
  float: right;
  margin: 5px 9px 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
}
.empty-back {
  display: inline-block;
  width: 45px;
  height: 30px;
  background: #d65dac;
  border: 7px solid #000;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: 24px;
  left: 10px;
}
.front {
  float: right;
  margin: -128px -42px 0 0;
  width: 88px;
  height: 110px;
  background: #40137a;
  border: 5px solid #1a1a1a;
  border-bottom: 0;
  border-radius: 0 80px 0 0;
}
.line-1 {
  display: inline-block;
  background: #1a1a1a;
  width: 40px;
  height: 7px;
  border-radius: 10px;
  position: absolute;
  top: 35px;
  right: 0;
}
.line-2 {
  display: inline-block;
  background: #1a1a1a;
  width: 55px;
  height: 7px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  right: -3px;
}
.line-3 {
  display: inline-block;
  background: #1a1a1a;
  width: 30px;
  height: 7px;
  border-radius: 10px;
  position: absolute;
  top: 55px;
  right: 0;
  left: 62px;
}
.main-part {
  width: 190px;
  height: 104px;
  background: #5b16a4;
  border: 10px solid #1a1a1a;
  border-radius: 80px 80px 0 0;
  position: relative;
}
.main-part:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 5px;
  position: absolute;
  top: -25px;
  left: 80px;
}
.visor {
  display: block;
  width: 300px;
  height: 14px;
  background: #000;
  margin-top: -10px;
}
