.castle
  display inline-block
  width 100px
  height 20px
  background $white
  border 5px solid $black
  border-radius 0 20px 20px 0
  position absolute
  bottom 0
  left 10px

  p
    font bold 12px $Arial
    text-transform uppercase
    color $black
    display inline-block
    margin 0 0 0 8px
    letter-spacing 5px

  .circle
    display inline-block
    float: right
    margin 5px 9px 0 
    width 10px
    height 10px
    border-radius 50%
    background $black
