line(width, top, right) 
  display inline-block
  background $d-gray
  width width
  height 7px
  border-radius 10px
  position absolute
  top top 
  right right

.line-1
  line(40px, 35px, 0)

.line-2
  line(55px, 60px, -3px)

.line-3
  line(30px, 55px, 0)
  left 62px
