.main-part
  width 190px
  height 104px
  background $l-purple
  border 10px solid $d-gray
  border-radius 80px 80px 0 0
  position relative

  &:before
    content ''
    display block
    width 20px
    height 20px
    background $black
    border-radius 5px
    position absolute
    top -25px
    left 80px
